.supportContainer {
	background-color: #d6cfcb;
	border-radius: 5px;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
	border-color: #d6cfcb;
}

label {
	font: normal 1.25rem 'Futura', Helvetica, sans-serif;
}

.form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #7c99b4;
	outline: none;
}

.btn-primary {
	background-color: #7c99b4 !important;
	border-color: #7c99b4 !important;
	color: #fff;
}

.btn-primary:hover {
	background-color: #2f74b5 !important;
	border-color: #2f74b5 !important;
	color: #fff;
}

.btn-primary.focus,
.btn-primary:focus {
	background-color: #2f74b5 !important;
	border-color: #2f74b5 !important;
	color: #fff;
}
