body {
    margin: 0;
    padding: 0;
    background: #5A5353;
}

#mainContent {
    width: 100%;
    height: 100vh;
    background: url('../images/backgroundShape.svg');
    background-size: cover;
    -webkit-filter: drop-shadow(0 16px 12px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 16px 12px rgba(0, 0, 0, 0.5));
    background-position-x: center;
}

.storesButtons {
    object-fit: contain;
    justify-content: center;
    display: flex;
    position: relative;
    top: 60vh;
    margin: auto;
}

.storesButtons img {
    width: 100%;
}

.screenshotsWrapper {
    position: absolute;
    bottom: 0;
    width: 96%;
    padding: 0 2%;
    overflow: hidden;
}

.screenshots {
    display: flex;
    position: relative;
    bottom: -100vh;
}

.screenshots img {
    padding: 0 1%;
    width: 18%;
    object-fit: contain;
    align-self: flex-start;
    position: relative;
}

.footerSpace {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}

.footerSpace ul {
    height: 70%;
    display: grid;
    list-style: none;
    padding: 0;
}

.footerSpace li {
    justify-self: center;
    font: normal 5vw "Futura", Helvetica, sans-serif;
    color: rgb(78, 72, 72);
    transform-origin: 50% 50% 0;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}

#copyrights {
    font: normal 24px "Futura", Helvetica, sans-serif;
    color: rgb(78, 72, 72);
    transform-origin: 50% 50% 0;
    text-shadow: 1px 1px 0 rgba(140, 140, 140, 0.6), -1px -1px 1px rgba(0, 0, 0, 0.67);
}


/*Media Queries*/

@media not (hover: none) {}

@media only screen and (min-height: 100vw) {
    .screenshots img {
        display: none;
    }
}


/*tablets*/

@media only screen and (max-width: 1024px) {
    .screenshots img {
        width: 31%;
    }
    .screenshots img:first-of-type {
        display: none;
    }
    .screenshots img:last-of-type {
        display: none;
    }
    .footerSpace li {
        font-size: 8vw;
    }
    #copyrights {
        font-size: 20px;
    }
}


/*mobile*/

@media only screen and (max-width: 375px) {
    .screenshots img {
        display: none;
    }
}


/*Utilities*/

@font-face {
    font-family: 'GrandHotel';
    /*a name to be used later*/
    src: url('../fonts/GrandHotel.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Futura';
    /*a name to be used later*/
    src: url('../fonts/Futura.ttc');
    /*URL to font*/
}