.supportContainer2 {
	height: 500px;
	background-color: #d6cfcb;
	border-radius: 5px;
	filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));
}

.carousel-enter {
	transform: translateX(100%);
}
.carousel-enter-active {
	transform: translateX(0%);
	transition: transform 0.5s ease-in-out;
}
.carousel-exit {
	transform: translateX(0%);
}
.carousel-exit.carousel-exit-active {
	transform: translateX(-100%);
	transition: transform 0.5s ease-in-out;
}
