@font-face {
	font-family: 'GrandHotel';
	/*a name to be used later*/
	src: url('./GrandHotel.otf');
	/*URL to font*/
}

@font-face {
	font-family: 'Futura';
	/*a name to be used later*/
	src: url('./Futura.ttc') format('truetype');
	/*URL to font*/
}
