.home {
	/*filter: drop-shadow(0 16px 12px rgba(0, 0, 0, 0.5));*/
	height: 100vh;
	background: url('./images/backgroundShape2.svg');
	background-size: cover;
	background-position-x: center;
	display: grid;
}
